

<div class="container card col-md-4 alternative" style="margin-top: 10px;">
    <h2 style="text-align: center; margin-bottom: 20px; margin-top: 20px;"> User Registration Form</h2>
    <form [formGroup]="regForm" (ngSubmit)="onSubmit()">
        <!-- User Name input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="userName">User Name</label>
            <input type="text" id="userName" class="form-control" name="userName"  formControlName="userName" />

        </div>
        <!-- User first Name input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="userFirstName">User First Name</label>
            <input type="text" id="userFirstName" class="form-control" name="userFirstName" formControlName="userFirstName"/>

        </div>
         <!-- User last Name input -->
         <div class="form-outline mb-4">
            <label class="form-label" for="userLastName">User Last Name</label>
            <input type="text" id="userLastName" class="form-control" name="userLastName" formControlName="userLastName" />

        </div>
         <!-- User email input -->
         <div class="form-outline mb-4">
          <label class="form-label" for="email">Email</label>
          <input type="text" id="email" class="form-control" name="email" formControlName="email" />

      </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="userPassword">Password</label>
            <input type="password" id="userPassword" class="form-control" name="userPassword"  formControlName="userPassword" />

        </div>



        <!-- Submit button -->
        <div class="text-center">
        <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
    </div>
    </form>
</div>
