<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CCI</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <nav
      class="navbar navbar-expand-md navbar-light"
      style="background-color: #fcf9be; font-weight: bold; height: 8vh"
    >
      <div class="container-fluid" style="padding: 0%">
        <a class="navbar-brand" routerLink="/"
          ><i class="fa fa-home" id="home-icon" aria-hidden="true"></i
        ></a>
<!--
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>

        </button> -->

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class=" navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a
                class="nav-link active"
                href="#"
                id="navbarDropdownHome"
                role="button"
                aria-expanded="false"
              >
                Home
              </a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link active"
                href="#"
                id="navbarDropdownAboutUs"
                role="button"
                aria-expanded="false"
              >
                About Us
              </a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle active"
                id="navbarDropdownReg"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                *ngIf="loggedIn"
              >
                Registration
              </a>
              <ul
                class="dropdown-menu"
                id="dditems"
                aria-labelledby="navbarDropdownReg"

              >
                <li>
                  <a
                    class="dropdown-item"
                    routerLink="/baleRegistration"
                    >Bale Registration</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    routerLink="/userRegistration"

                    >User Registration</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link active"
                routerLink="/list"
                id="navbarDropdownListOfBales"
                role="button"
                aria-expanded="false"
                *ngIf="loggedIn"
              >
                List of Bales
              </a>
            </li>

            <li>
              <a
                class="nav-link active"
                (click)="logoutUser()"
                id="navbarDropdownLogout"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                *ngIf="loggedIn"
              >
                Logout
              </a>
            </li>

            <li>
              <a
                class="nav-link active"
                routerLink="/login"
                id="navbarDropdownLogin"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                *ngIf="!loggedIn"
              >
                Login
              </a>
            </li>
            <li>
              <a
                class="nav-link active"
                routerLink="/roleManagement"
                id="navbarDropdownRoleManagement"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                *ngIf="loggedIn"
              >
                Role Management
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>
